@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,200;0,400;0,700;1,400&family=Outfit:wght@400;700&display=swap');

html {
    font-family: 'Asap', sans-serif;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    height: 100px;
}

a {
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px;
}

a:any-link {
    text-decoration: none;
    color: black;
}

a:hover.newbie {
    color: darkslategrey;
    border-color: darkslategray;
    background-color: rgba(119, 136, 153, 0.15);
}

a:hover.junior {
    color: green;
    border-color: green;
    background-color: rgba(148, 189, 151, 0.15);
}

.frontend-challenges {
    display: flex;
    justify-content: space-evenly;
}